/**
 * @author ZMN
 * @since 2019/11/6
 * @desc 基础字体样式
 * @remark
 */

// 字体大小
// 所有网站统一使用这些大小
$fz-xl: px2vw(18); // 大标题字号，用于顶部导航标题
$fz-lg: px2vw(16); // 小标题字号，用于正文标题，着重显示文字
$fz-md: px2vw(14); // 正文字号，用于内容文本
$fz-sm: px2vw(12); // 提示字号，用于备注/菜单分割/标签
$fz-xs: px2vw(10);
