/**
 * @author ZMN
 * @since 2019/11/6
 * @desc 基础尺寸样式
 * @remark
 */

$page-width: 1190px; // 页面主体内容最大宽度
$max-width: 768px; // 移动端宽度临界值

// 10 内容小板块间距
$section-xs: px2vw(10);
// 12 特殊版块和标题版块间距
$section-sm: px2vw(12);
// 14 主容器水平方向padding
$section-md: px2vw(14);
// 16 内容大板块间距
$section-lg: px2vw(16);
// 18
$section-xl: px2vw(18);
// 状态栏高度
$status-bar-h: px2vw(20);
// 顶部导航高度
$nav-bar-h: px2vw(44);
// 底部菜单高度
$menu-bar-h: px2vw(49);

// 基础混合样式
// 宽度、高度100%
@mixin wh100 {
  width: 100%;
  height: 100%;
}
